# https://editorconfig.org/

# Inherit rules for everything else
root = false

# Default rules for all files
[*]
charset                  = utf-8
insert_final_newline     = true
trim_trailing_whitespace = true

# Go
[*.go]
indent_style = tab
indent_size  = 4

# Modern markup languages
[*.{md,yml,json}]
indent_style = space
indent_size  = 2
